#feedback-form {
  margin-top: 5%;
  padding: 2%;
  border-radius: 3px;
  background-color:rgba(255,255,255,0.4);
  width: 750px;
}
#feedback-form [required] {
  width: 100%;
  box-sizing: border-box;
  margin: 2px 0 2% 0;
  padding: 2%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:hover {
  border-color: #450c04;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:focus {
  outline: none;
  border-color: #450c04;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 4px rgba(94,12,12,.5);
  transition: .2s linear;
}
#feedback-form [type="submit"] {
  padding: 2%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
  background: #450c04;
  color: #fff;
  font-family: 'Lobster', cursive;
}
#feedback-form [type="submit"]:hover {
  background: #450c04;
}
#feedback-form [type="submit"]:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
.contacts {
  float:right;
  margin-top: 3%;
  margin-right: 4%;
}
.contacts p {
  font-size: 14px;
  max-width: 680px;
  margin-left: 3%;
}
